<html>
<head>
    <title>Employee Promotion Eligibility Checker</title>
</head>
<body>
    <h1>Employee Promotion Eligibility Checker</h1>
    <form action="selection" target="_blank">
        <label for="employee-id">Select Employee ID:</label>
        <select id="employee-id">
            <option value="emp001">EMP001</option>
            <option value="emp002">EMP002</option>
            <option value="emp003">EMP003</option>
            <option value="emp004">EMP004</option>
            <option value="emp005">EMP005</option>
        </select><br><br><br>
        Enter the date of joining: <input type="date" id="doj" name="doj"><br><br><br>
        <input type="submit" value="submit"><br>
    </form>
</body>
</html>