<html>
<head>
    <title>Form Display</title>
</head>
<body>
    <script type="text/javascript">
        function func() {
            var n1 = document.getElementById("num1").value;
            var n2 = document.getElementById("num2").value;
            var n3 = document.getElementById("num3").value;
            var n4 = document.getElementById("num4").value;
            var n5 = document.getElementById("num5").value;
            var english = document.getElementById("num6").value;
            var physics = document.getElementById("num7").value;
            var chemistry = document.getElementById("num8").value;
            var total = parseInt(english) + parseInt(physics) + parseInt(chemistry);
            var percentage = (total / 300) * 100;
            document.getElementById('result').textContent = `Name: ${n1}\nDate of Birth: ${n2}\nAddress: ${n3}\nContact Number: ${n4}\nEmail id: ${n5}\nEnglish Marks: ${english}\nPhysics Marks: ${physics}\nChemistry Marks: ${chemistry}\nTotal Marks: ${total}\nPercentage: ${percentage.toFixed(2)}`;

        }
    </script>
    Enter Name: <input type="text" id="num1"><br><br>
    Enter DOB: <input type="date" id="num2"><br><br>
    Enter Address: <input type="text" id="num3"><br><br>
    Enter contact no.: <input type="number" id="num4"><br><br>
    Enter email id : <input type="email" id="num5"><br><br>
    Marks English: <input type="number" id="num6"><br><br>
    Marks Physics: <input type="number" id="num7"><br><br>
    Enter Chemistry: <input type="number" id="num8"><br><br>
    <button onclick="func()">Submit</button><br><br>
    <textarea id="result" readonly rows="15" cols="50"></textarea>
</body>
</html>
