<html>
    <head>
        <title>Scion of Ikshvaku</title>
    </head>
    <body>
        <button><a href="/meta">metadata</a></button>  
        <button><a href="/reviews">reviews</a></button>
        <button><a href="/publisher">publisherinfo</a></button>
        <style>
            body {
                background-image: url('https://upload.wikimedia.org/wikipedia/en/5/57/Scion_of_Ikshvaku_cover.jpg');
                background-attachment: fixed;
                background-repeat: no-repeat;
            }
        </style> 
    </body>
</html>