<html>

<head>
    <title>Scion of Ikshvaku - Metadata</title>
</head>

<body>
    <button><a href="/">Back to Home</a></button>
    <p>
        Scion of Ikshvaku (also known as Ram: Scion of Ikshvaku) is a one to one replica of the events
        taking place before the epic tale "Ramayana" and also the fourth book of Amish Tripathi,
        fourth book of Amishverse, and first book of Ram Chandra Series.
        It was released on 22 June 2015. It is based on Ram,
        the legendary Indian king regarded as an incarnation of Vishnu.
        The title was revealed by the author at the Jaipur Literature Festival.
        The story begins with King Dashrath of Ayodhya being defeated in a war by Lankan trader Raavan,
        and the birth of his son Ram. It follows through Ram's childhood and tutelage,
        along with the politics surrounding his ascension to the throne,
        and ultimately his 14-year exile, accompanied by wife Sita and brother Lakshman.
    </p>
</body>

</html>