<html>

<head>
    <title>Scion of Ikshvaku - Publisher Info</title>
</head>

<body>
    <button><a href="/">Back to Home</a></button>
    <p>
        Amish Tripathi is an Indian author and diplomat. 
        He is known best for his Shiva Trilogy and Ram Chandra Series. 
        Amish's books have sold over 6 million copies in the Indian subcontinent since 2010. 
        He is also Minister at the High Commission of India in the UK and Director of the Nehru Centre, London. 
    </p>
</body>

</html>